{
    "trailingComma": "es5",
    "semi": false,
    "singleQuote": false,
    "overrides" : [
        {
            "files": "*ts",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.html",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}