<footer class="bg-white mt-16 border-t border-gray-200">
    <div class="container mx-auto px-4 py-8">

        <section>
            <div class="text-center flex justify-center space-x-2 text-lg">
                <a
                    href="https://github.com/kevidgel"
                    class="text-lg text-blue-500 hover:underline"
                    target="_blank"
                    >GitHub</a
                >
                <span>&middot;</span>
                <a
                    href="https://linkedin.com/in/stevenl4"
                    class="text-lg text-blue-500 hover:underline"
                    target="_blank"
                    >LinkedIn</a
                >
                <span>&middot;</span>
                <a
                    rel="nofollow, noindex"
                    href="P7zm-P8ROSwlaJJJNg80iuzlPpV2YgXEGZ_cGPH75STSzg"
                    class="email text-lg text-blue-500 hover:underline"
                    >Email</a
                >
                <span>&middot;</span>
                <a
                    rel="nofollow, noindex"
                    href="SMt3m272pul43rNyizAo58gm1-aRtjxxlYVoi0inaQIA"
                    class="email text-lg text-blue-500 hover:underline"
                    >Academic Email</a
                >
            </div>
        </section>
    </div>
</footer>
