{{ define "main" }}
<div class="container mx-auto px-4 py-8 max-w-prose">
    <section class="text-left mb-16">
        <h1 class="text-4xl font-bold text-gray-900 mb-4">{{ .Title }}</h1>
        <div
            class="text-center tenor-gif-embed"
            data-postid="13240550249247957481"
            data-share-method="host"
            data-aspect-ratio="1"
            data-width="100%"
        >
            <a
                href="https://tenor.com/view/sad-sad-cat-cat-depressed-depression-gif-13240550249247957481"
                >Sad cat GIF didn't load :<</a
            >
        </div>
        <script
            type="text/javascript"
            async
            src="https://tenor.com/embed.js"
        ></script>
    </section>
</div>
{{ end}}
